In [7]:
import pandas as pd
import numpy as np
import glob
import os
import zipfile
from datetime import datetime

In [14]:

try:
    os.mkdir('year_details')
except FileExistsError:
    pass

try:
    os.mkdir('year_details_update')
except FileExistsError:
    pass

names = os.listdir(r"year_details")
with zipfile.ZipFile('year_details.zip', 'r') as zip:
    zip.extractall('year_details')

path = r'year_details'

csv_files = glob.glob(path + "/*.csv")

# Read each CSV file into DataFrame and create a list of dataframes

df_list = (pd.read_csv(file, sep=';') for file in csv_files)

currency_name = []

for name in names:
    
    currency_name.append(name.split('_')[0])
    
currency_name.pop(-1)
print(currency_name)

i = 0
for file in csv_files:
    df = pd.read_csv(file, sep=';')
    df["Name"] = currency_name[i]
    df.to_csv("year_details_update/" + currency_name[i] + '.csv', index=0, sep=";")
    i += 1

['0x Protocol', '1inch Network', 'Aave', 'aelf', 'Akash Network', 'Alchemy Pay', 'Algorand', 'Amp', 'Ankr', 'ApeCoin', 'APENFT', 'Aptos', 'Aragon', 'Arbitrum', 'Arweave', 'Astar', 'Audius', 'Avalanche', 'Axelar', 'Axie Infinity', 'Balancer', 'Band Protocol', 'Basic Attention Token', 'Biconomy', 'Binance USD', 'Bitcoin Cash', 'Bitcoin Gold', 'Bitcoin SV', 'Bitcoin', 'BitTorrent(New)', 'Blur', 'BNB', 'Bone ShibaSwap', 'BORA', 'Cardano', 'Cartesi', 'Casper', 'Celer Network', 'Celo', 'Chainlink', 'Chia', 'Chiliz', 'Compound', 'Conflux', 'Convex Finance', 'Core', 'Cosmos', 'Cronos', 'Curve DAO Token', 'Dai', 'DAO Maker', 'Dash', 'Decentraland', 'Decred', 'DigiByte', 'Dogecoin', 'dYdX', 'eCash', 'Enjin Coin', 'EOS', 'Ethereum Classic', 'Ethereum Name Service', 'EthereumPoW', 'Ethereum', 'Everscale', 'Fantom', 'Fetch.ai', 'Filecoin', 'Flare', 'FLOKI', 'Flow', 'Flux', 'Frax Share', 'Gala', 'Galxe', 'GateToken', 'Gemini Dollar', 'GMX', 'Gnosis', 'Golem', 'Harmony', 'Hedera', 'Helium', 'Hive', 'Holo', 'Horizen', 'Huobi Token', 'ICON', 'Illuvium', 'Immutable', 'Injective', 'Internet Computer', 'IOST', 'IOTA', 'IoTeX', 'JasmyCoin', 'JUST', 'Kadena', 'Kava', 'Klaytn', 'KuCoin Token', 'Kusama', 'Kyber Network Crystal v2', 'Lido DAO', 'Lisk', 'Litecoin', 'Livepeer', 'Loopring', 'MAGIC', 'Maker', 'Mantle', 'Mask Network', 'Merit Circle', 'Mina', 'MobileCoin', 'Monero', 'Moonbeam', 'MultiversX', 'MX TOKEN', 'Nano', 'NEAR Protocol', 'NEM', 'Neo', 'Nervos Network', 'Nexo', 'Oasis Network', 'Ocean Protocol', 'OKB', 'Ontology', 'Optimism', 'Osmosis', 'PancakeSwap', 'Pax Dollar', 'PAX Gold', 'Pepe', 'PlayDapp', 'Polkadot', 'Polygon', 'Pundi X (New)', 'Qtum', 'Quant', 'Ravencoin', 'Render', 'Reserve Rights', 'Ribbon Finance', 'Rocket Pool', 'SafePal', 'Sei', 'Shiba Inu', 'Siacoin', 'SingularityNET', 'SKALE', 'Solana', 'Solar', 'ssv.network', 'Stacks', 'Stargate Finance', 'Status', 'Stellar', 'STEPN', 'Storj', 'STP', 'Sui', 'SushiSwap', 'Synthetix', 'Terra Classic', 'TerraClassicUSD', 'Terra', 'Tether Gold', 'Tether USDt', 'Tezos', 'The Graph', 'The Sandbox', 'Theta Fuel', 'Theta Network', 'THORChain', 'Threshold', 'TomoChain', 'Toncoin', 'TRON', 'TrueUSD', 'Trust Wallet Token', 'UMA', 'UniBot', 'Uniswap', 'UNUS SED LEO', 'USD Coin', 'USDD', 'VeChain', 'Vulcan Forged PYR', 'Waves', 'WAX', 'WOO Network', 'Worldcoin', 'Wrapped Bitcoin', 'XDC Network', 'XRP', 'yearn.finance', 'Zcash', 'Zilliqa']

In [9]:
currency_df = pd.read_csv(
    "detailed_coins.csv"
)

currency_df

FileNotFoundError: [Errno 2] No such file or directory: 'detailed_coins.csv'

In [ ]:
# Get CSV files list from a folder
# Check if the file exists
if os.path.exists("year_details_update/full_data.csv"):
    # Delete the file
    os.remove("year_details_update/full_data.csv")

if os.path.exists("year_details/full_data.csv"):
    # Delete the file
    os.remove("year_details/full_data.csv")
    
path = 'year_details_update'
csv_files = glob.glob(path + "/*.csv")

# Read each CSV file into DataFrame and create a list of dataframes

df_list = (pd.read_csv(file, sep=';') for file in csv_files)

# Concatenate all DataFrames
year_df   = pd.concat(df_list, ignore_index=True)
        
year_df

,timeOpen,timeClose,timeHigh,timeLow,open,high,low,close,volume,marketCap,timestamp,Name
0,2023-09-03T00:00:00.000Z,2023-09-03T23:59:59.999Z,2023-09-03T00:18:00.000Z,2023-09-03T17:09:00.000Z,22.118424,22.134155,21.245415,22.007561,4143538.56,4.334250e+08,2023-09-03T23:59:59.999Z,Rocket Pool
1,2023-09-02T00:00:00.000Z,2023-09-02T23:59:59.999Z,2023-09-02T15:32:00.000Z,2023-09-02T03:43:00.000Z,22.226988,22.378814,21.973939,22.112976,2786720.99,4.355011e+08,2023-09-02T23:59:59.999Z,Rocket Pool
2,2023-09-01T00:00:00.000Z,2023-09-01T23:59:59.999Z,2023-09-01T09:30:00.000Z,2023-09-01T17:53:00.000Z,22.425345,22.617469,21.838625,22.230870,3325798.48,4.378230e+08,2023-09-01T23:59:59.999Z,Rocket Pool
3,2023-08-31T00:00:00.000Z,2023-08-31T23:59:59.999Z,2023-08-31T02:32:00.000Z,2023-08-31T22:37:00.000Z,23.844969,24.051317,22.405723,22.425865,4976122.22,4.416633e+08,2023-08-31T23:59:59.999Z,Rocket Pool
4,2023-08-30T00:00:00.000Z,2023-08-30T23:59:59.999Z,2023-08-30T15:04:00.000Z,2023-08-30T23:52:00.000Z,23.928132,24.717275,23.843541,23.851016,7496710.34,4.679759e+08,2023-08-30T23:59:59.999Z,Rocket Pool
...,...,...,...,...,...,...,...,...,...,...,...,...
69992,2022-09-09T00:00:00.000Z,2022-09-09T23:59:59.999Z,2022-09-09T14:40:00.000Z,2022-09-09T00:07:00.000Z,0.172809,0.184173,0.172616,0.180033,17857314.08,1.103780e+08,2022-09-09T23:59:59.999Z,Ocean Protocol
69993,2022-09-08T00:00:00.000Z,2022-09-08T23:59:59.999Z,2022-09-08T10:51:00.000Z,2022-09-08T23:38:00.000Z,0.180729,0.184709,0.172417,0.172877,20517487.85,1.059910e+08,2022-09-08T23:59:59.999Z,Ocean Protocol
69994,2022-09-07T00:00:00.000Z,2022-09-07T23:59:59.999Z,2022-09-07T20:35:00.000Z,2022-09-07T00:25:00.000Z,0.160813,0.183087,0.158008,0.180746,31035397.11,1.108152e+08,2022-09-07T23:59:59.999Z,Ocean Protocol
69995,2022-09-06T00:00:00.000Z,2022-09-06T23:59:59.999Z,2022-09-06T05:52:00.000Z,2022-09-06T22:34:00.000Z,0.167330,0.173249,0.160693,0.160876,13153927.35,9.863266e+07,2022-09-06T23:59:59.999Z,Ocean Protocol
69996,2022-09-05T00:00:00.000Z,2022-09-05T23:59:59.999Z,2022-09-05T23:47:00.000Z,2022-09-05T10:49:00.000Z,0.164176,0.167693,0.161478,0.167324,5721766.11,1.025861e+08,2022-09-05T23:59:59.999Z,Ocean Protocol

In [ ]:

len(year_df['Name'].unique())

199

In [ ]:
year_df.describe()

,open,high,low,close,volume,marketCap
count,6.999700e+04,6.999700e+04,6.999700e+04,6.999700e+04,6.999700e+04,6.999700e+04
mean,3.258633e+02,3.313258e+02,3.204733e+02,3.259007e+02,4.560019e+08,5.309332e+09
std,2.517053e+03,2.557215e+03,2.477681e+03,2.517549e+03,3.420246e+09,3.710255e+10
min,5.685057e-08,7.956576e-08,2.763783e-08,6.637550e-08,6.519396e+04,0.000000e+00
25%,1.494411e-01,1.535567e-01,1.452989e-01,1.493806e-01,6.453371e+06,1.741223e+08
50%,7.931353e-01,8.170461e-01,7.679175e-01,7.909628e-01,1.862944e+07,3.352260e+08
75%,4.575705e+00,4.692369e+00,4.444068e+00,4.560384e+00,6.408385e+07,8.874301e+08
max,3.147472e+04,3.181451e+04,3.071066e+04,3.147605e+04,1.627349e+11,6.115354e+11

In [ ]:
year_df.isna().sum()

timeOpen     0
timeClose    0
timeHigh     0
timeLow      0
open         0
high         0
low          0
close        0
volume       0
marketCap    0
timestamp    0
Name         0
dtype: int64

In [ ]:
currency_df.describe()

             Rank
count  200.000000
mean   100.500000
std     57.879185
min      1.000000
25%     50.750000
50%    100.500000
75%    150.250000
max    200.000000

In [ ]:
currency_df.isna().sum()

Rank               0
Name               0
Symbol             0
MainLink           0
HistoricalLink     0
tags               0
github_url        44
dtype: int64

In [ ]:
year_df.dtypes

timeOpen      object
timeClose     object
timeHigh      object
timeLow       object
open         float64
high         float64
low          float64
close        float64
volume       float64
marketCap    float64
timestamp     object
Name          object
dtype: object

In [ ]:
year_df["timeOpen"] = pd.to_datetime(year_df["timeOpen"])
year_df["timeClose"] = pd.to_datetime(year_df["timeClose"])
year_df["timeHigh"] = pd.to_datetime(year_df["timeHigh"])
year_df["timeLow"] = pd.to_datetime(year_df["timeLow"])

# convert datetime64[ns] to datetime
year_df["timeOpen"].apply(lambda x: x.to_pydatetime())
year_df["timeClose"].apply(lambda x: x.to_pydatetime())
year_df["timeHigh"].apply(lambda x: x.to_pydatetime())
year_df["timeLow"].apply(lambda x: x.to_pydatetime())

0       2023-09-03 17:09:00+00:00
1       2023-09-02 03:43:00+00:00
2       2023-09-01 17:53:00+00:00
3       2023-08-31 22:37:00+00:00
4       2023-08-30 23:52:00+00:00
                   ...
69992   2022-09-09 00:07:00+00:00
69993   2022-09-08 23:38:00+00:00
69994   2022-09-07 00:25:00+00:00
69995   2022-09-06 22:34:00+00:00
69996   2022-09-05 10:49:00+00:00
Name: timeLow, Length: 69997, dtype: datetime64[ns, UTC]

In [ ]:
year_df["timeHigh"].dtypes

datetime64[ns, UTC]

In [ ]:
# year_df["timeOpen"] = year_df["timeOpen"].dt.to_pydatetime()
type(year_df["timeOpen"])

pandas.core.series.Series

In [ ]:
# Create a new CSV file
with open("year_details_update/full_data.csv", 'w') as file:
    year_df.to_csv("year_details_update/full_data.csv", index=0)


year_df["timeClose"]

0       2023-09-03 23:59:59.999000+00:00
1       2023-09-02 23:59:59.999000+00:00
2       2023-09-01 23:59:59.999000+00:00
3       2023-08-31 23:59:59.999000+00:00
4       2023-08-30 23:59:59.999000+00:00
                      ...
69992   2022-09-09 23:59:59.999000+00:00
69993   2022-09-08 23:59:59.999000+00:00
69994   2022-09-07 23:59:59.999000+00:00
69995   2022-09-06 23:59:59.999000+00:00
69996   2022-09-05 23:59:59.999000+00:00
Name: timeClose, Length: 69997, dtype: datetime64[ns, UTC]

In [ ]:
year_df

,timeOpen,timeClose,timeHigh,timeLow,open,high,low,close,volume,marketCap,timestamp,Name
0,2023-09-03 00:00:00+00:00,2023-09-03 23:59:59.999000+00:00,2023-09-03 00:18:00+00:00,2023-09-03 17:09:00+00:00,22.118424,22.134155,21.245415,22.007561,4143538.56,4.334250e+08,2023-09-03T23:59:59.999Z,Rocket Pool
1,2023-09-02 00:00:00+00:00,2023-09-02 23:59:59.999000+00:00,2023-09-02 15:32:00+00:00,2023-09-02 03:43:00+00:00,22.226988,22.378814,21.973939,22.112976,2786720.99,4.355011e+08,2023-09-02T23:59:59.999Z,Rocket Pool
2,2023-09-01 00:00:00+00:00,2023-09-01 23:59:59.999000+00:00,2023-09-01 09:30:00+00:00,2023-09-01 17:53:00+00:00,22.425345,22.617469,21.838625,22.230870,3325798.48,4.378230e+08,2023-09-01T23:59:59.999Z,Rocket Pool
3,2023-08-31 00:00:00+00:00,2023-08-31 23:59:59.999000+00:00,2023-08-31 02:32:00+00:00,2023-08-31 22:37:00+00:00,23.844969,24.051317,22.405723,22.425865,4976122.22,4.416633e+08,2023-08-31T23:59:59.999Z,Rocket Pool
4,2023-08-30 00:00:00+00:00,2023-08-30 23:59:59.999000+00:00,2023-08-30 15:04:00+00:00,2023-08-30 23:52:00+00:00,23.928132,24.717275,23.843541,23.851016,7496710.34,4.679759e+08,2023-08-30T23:59:59.999Z,Rocket Pool
...,...,...,...,...,...,...,...,...,...,...,...,...
69992,2022-09-09 00:00:00+00:00,2022-09-09 23:59:59.999000+00:00,2022-09-09 14:40:00+00:00,2022-09-09 00:07:00+00:00,0.172809,0.184173,0.172616,0.180033,17857314.08,1.103780e+08,2022-09-09T23:59:59.999Z,Ocean Protocol
69993,2022-09-08 00:00:00+00:00,2022-09-08 23:59:59.999000+00:00,2022-09-08 10:51:00+00:00,2022-09-08 23:38:00+00:00,0.180729,0.184709,0.172417,0.172877,20517487.85,1.059910e+08,2022-09-08T23:59:59.999Z,Ocean Protocol
69994,2022-09-07 00:00:00+00:00,2022-09-07 23:59:59.999000+00:00,2022-09-07 20:35:00+00:00,2022-09-07 00:25:00+00:00,0.160813,0.183087,0.158008,0.180746,31035397.11,1.108152e+08,2022-09-07T23:59:59.999Z,Ocean Protocol
69995,2022-09-06 00:00:00+00:00,2022-09-06 23:59:59.999000+00:00,2022-09-06 05:52:00+00:00,2022-09-06 22:34:00+00:00,0.167330,0.173249,0.160693,0.160876,13153927.35,9.863266e+07,2022-09-06T23:59:59.999Z,Ocean Protocol
69996,2022-09-05 00:00:00+00:00,2022-09-05 23:59:59.999000+00:00,2022-09-05 23:47:00+00:00,2022-09-05 10:49:00+00:00,0.164176,0.167693,0.161478,0.167324,5721766.11,1.025861e+08,2022-09-05T23:59:59.999Z,Ocean Protocol