In [171]:
import pandas as pd
import numpy as np
import glob
import os
import zipfile
from datetime import datetime

In [172]:
try:
    os.mkdir('year_details')
except FileExistsError:
    pass

try:
    os.mkdir('year_details_update')
except FileExistsError:
    pass

names = os.listdir(r"year_details")
with zipfile.ZipFile('year_details.zip', 'r') as zip:
    zip.extractall('year_details')

path = r'year_details'

csv_files = glob.glob(path + "/*.csv")

# Read each CSV file into DataFrame and create a list of dataframes

df_list = (pd.read_csv(file, sep=';') for file in csv_files)

currency_name = []

for name in names:
    
    currency_name.append(name.split('_')[0])


i = 0
for file in csv_files:
    df = pd.read_csv(file, sep=';')
    df["Name"] = currency_name[i]
    df.to_csv("year_details_update/" + currency_name[i] + '.csv', index=0, sep=";")
    i += 1

In [173]:
currency_df = pd.read_csv(
    "detailed_coins.csv"
)

currency_df

,Rank,Name,Symbol,MainLink,HistoricalLink,tags,github_url
0,1,Bitcoin,BTC,https://coinmarketcap.com/currencies/bitcoin/,https://coinmarketcap.com/currencies/bitcoin/h...,"[{'tag': 'Mineable', 'url': 'https://coinmarke...",https://github.com/bitcoin/bitcoin
1,2,Ethereum,ETH,https://coinmarketcap.com/currencies/ethereum/,https://coinmarketcap.com/currencies/ethereum/...,"[{'tag': 'PoS', 'url': 'https://coinmarketcap....",https://github.com/ethereum/go-ethereum
2,3,Tether USDt,USDT,https://coinmarketcap.com/currencies/tether/,https://coinmarketcap.com/currencies/tether/hi...,"[{'tag': 'Payments', 'url': 'https://coinmarke...",NaN
3,4,BNB,BNB,https://coinmarketcap.com/currencies/bnb/,https://coinmarketcap.com/currencies/bnb/histo...,"[{'tag': 'Marketplace', 'url': 'https://coinma...",https://github.com/bnb-chain
4,5,XRP,XRP,https://coinmarketcap.com/currencies/xrp/,https://coinmarketcap.com/currencies/xrp/histo...,"[{'tag': 'Medium of Exchange', 'url': 'https:/...",https://github.com/ripple/rippled
...,...,...,...,...,...,...,...
195,196,PlayDapp,PLA,https://coinmarketcap.com/currencies/playdapp/,https://coinmarketcap.com/currencies/playdapp/...,"[{'tag': 'Gaming', 'url': 'https://coinmarketc...",https://github.com/playdapp
196,197,Pundi X (New),PUNDIX,https://coinmarketcap.com/currencies/pundix-new/,https://coinmarketcap.com/currencies/pundix-ne...,[],NaN
197,198,Vulcan Forged PYR,PYR,https://coinmarketcap.com/currencies/vulcan-fo...,https://coinmarketcap.com/currencies/vulcan-fo...,"[{'tag': 'Collectibles & NFTs', 'url': 'https:...",NaN
198,199,Status,SNT,https://coinmarketcap.com/currencies/status/,https://coinmarketcap.com/currencies/status/hi...,"[{'tag': 'Media', 'url': 'https://coinmarketca...",https://github.com/status-im
199,200,Amp,AMP,https://coinmarketcap.com/currencies/amp/,https://coinmarketcap.com/currencies/amp/histo...,"[{'tag': 'SEC Security Token', 'url': 'https:/...",https://github.com/amptoken

In [174]:
# Get CSV files list from a folder

path = 'year_details_update'
csv_files = glob.glob(path + "/*.csv")

# Read each CSV file into DataFrame and create a list of dataframes

df_list = (pd.read_csv(file, sep=';') for file in csv_files)

# Concatenate all DataFrames
year_df   = pd.concat(df_list, ignore_index=True)
        
year_df

,timeOpen,timeClose,timeHigh,timeLow,open,high,low,close,volume,marketCap,timestamp,Name,"timeOpen,timeClose,timeHigh,timeLow,open,high,low,close,volume,marketCap,timestamp,Name"
0,2023-09-03T00:00:00.000Z,2023-09-03T23:59:59.999Z,2023-09-03T04:44:00.000Z,2023-09-03T16:52:00.000Z,0.164069,0.170545,0.162828,0.164467,7.693792e+06,1.393849e+08,2023-09-03T23:59:59.999Z,0x Protocol,NaN
1,2023-09-02T00:00:00.000Z,2023-09-02T23:59:59.999Z,2023-09-02T23:54:00.000Z,2023-09-02T13:22:00.000Z,0.162284,0.164162,0.160526,0.164069,5.837170e+06,1.390474e+08,2023-09-02T23:59:59.999Z,0x Protocol,NaN
2,2023-09-01T00:00:00.000Z,2023-09-01T23:59:59.999Z,2023-09-01T00:50:00.000Z,2023-09-01T17:43:00.000Z,0.165031,0.166129,0.160861,0.162285,5.871295e+06,1.375358e+08,2023-09-01T23:59:59.999Z,0x Protocol,NaN
3,2023-08-31T00:00:00.000Z,2023-08-31T23:59:59.999Z,2023-08-31T11:59:00.000Z,2023-08-31T21:10:00.000Z,0.173477,0.173825,0.163603,0.165032,8.818782e+06,1.398643e+08,2023-08-31T23:59:59.999Z,0x Protocol,NaN
4,2023-08-30T00:00:00.000Z,2023-08-30T23:59:59.999Z,2023-08-30T00:04:00.000Z,2023-08-30T18:35:00.000Z,0.179006,0.179208,0.172838,0.173472,5.742333e+06,1.470167e+08,2023-08-30T23:59:59.999Z,0x Protocol,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
140717,2022-09-09T00:00:00.000Z,2022-09-09T23:59:59.999Z,2022-09-09T23:19:00.000Z,2022-09-09T00:07:00.000Z,0.035406,0.037481,0.035392,0.037181,1.593054e+08,4.934848e+08,2022-09-09T23:59:59.999Z,Zilliqa,NaN
140718,2022-09-08T00:00:00.000Z,2022-09-08T23:59:59.999Z,2022-09-08T20:13:00.000Z,2022-09-08T13:13:00.000Z,0.034798,0.035483,0.034065,0.035405,1.455368e+08,4.697649e+08,2022-09-08T23:59:59.999Z,Zilliqa,NaN
140719,2022-09-07T00:00:00.000Z,2022-09-07T23:59:59.999Z,2022-09-07T23:40:00.000Z,2022-09-07T02:29:00.000Z,0.033818,0.034997,0.033169,0.034804,1.080853e+08,4.616573e+08,2022-09-07T23:59:59.999Z,Zilliqa,NaN
140720,2022-09-06T00:00:00.000Z,2022-09-06T23:59:59.999Z,2022-09-06T01:14:00.000Z,2022-09-06T20:14:00.000Z,0.036301,0.036948,0.033503,0.033824,1.180797e+08,4.485249e+08,2022-09-06T23:59:59.999Z,Zilliqa,NaN
140721,2022-09-05T00:00:00.000Z,2022-09-05T23:59:59.999Z,2022-09-05T00:07:00.000Z,2022-09-05T12:14:00.000Z,0.036485,0.036653,0.035402,0.036297,7.299957e+07,4.811652e+08,2022-09-05T23:59:59.999Z,Zilliqa,NaN

In [175]:

len(year_df['Name'].unique())

201

In [176]:
year_df.describe()

,open,high,low,close,volume,marketCap
count,7.036100e+04,7.036100e+04,7.036100e+04,7.036100e+04,7.036100e+04,7.036100e+04
mean,3.241822e+02,3.296165e+02,3.188199e+02,3.242193e+02,4.558301e+08,5.323450e+09
std,2.510642e+03,2.550702e+03,2.471370e+03,2.511136e+03,3.411451e+09,3.700717e+10
min,5.685057e-08,7.956576e-08,2.763783e-08,6.637550e-08,6.519396e+04,0.000000e+00
25%,1.518625e-01,1.556775e-01,1.478232e-01,1.518079e-01,6.493301e+06,1.747064e+08
50%,7.975142e-01,8.210278e-01,7.733887e-01,7.960647e-01,1.882503e+07,3.380369e+08
75%,4.513222e+00,4.635158e+00,4.385384e+00,4.504641e+00,6.556437e+07,9.066907e+08
max,3.147472e+04,3.181451e+04,3.071066e+04,3.147605e+04,1.627349e+11,6.115354e+11

In [177]:
year_df.isna().sum()

timeOpen                                                                                   70361
timeClose                                                                                  70361
timeHigh                                                                                   70361
timeLow                                                                                    70361
open                                                                                       70361
high                                                                                       70361
low                                                                                        70361
close                                                                                      70361
volume                                                                                     70361
marketCap                                                                                  70361
timestamp                                                                                  70361
Name                                                                                       70361
timeOpen,timeClose,timeHigh,timeLow,open,high,low,close,volume,marketCap,timestamp,Name    70361
dtype: int64

In [178]:
currency_df.describe()

             Rank
count  200.000000
mean   100.500000
std     57.879185
min      1.000000
25%     50.750000
50%    100.500000
75%    150.250000
max    200.000000

In [179]:
currency_df.isna().sum()

Rank               0
Name               0
Symbol             0
MainLink           0
HistoricalLink     0
tags               0
github_url        44
dtype: int64

In [180]:
year_df.dtypes

timeOpen                                                                                    object
timeClose                                                                                   object
timeHigh                                                                                    object
timeLow                                                                                     object
open                                                                                       float64
high                                                                                       float64
low                                                                                        float64
close                                                                                      float64
volume                                                                                     float64
marketCap                                                                                  float64
timestamp                                                                                   object
Name                                                                                        object
timeOpen,timeClose,timeHigh,timeLow,open,high,low,close,volume,marketCap,timestamp,Name     object
dtype: object

In [181]:
year_df["timeOpen"] = pd.to_datetime(year_df["timeOpen"])
year_df["timeClose"] = pd.to_datetime(year_df["timeClose"])
year_df["timeHigh"] = pd.to_datetime(year_df["timeHigh"])
year_df["timeLow"] = pd.to_datetime(year_df["timeLow"])

# convert datetime64[ns] to datetime
year_df["timeOpen"] = year_df["timeOpen"].apply(lambda x: x.to_pydatetime())
year_df["timeClose"] = year_df["timeClose"].apply(lambda x: x.to_pydatetime())
year_df["timeHigh"] = year_df["timeHigh"].apply(lambda x: x.to_pydatetime())
year_df["timeLow"] = year_df["timeLow"].apply(lambda x: x.to_pydatetime())

In [182]:
year_df["timeHigh"].dtypes

datetime64[ns, UTC]

In [183]:
# year_df["timeOpen"] = year_df["timeOpen"].dt.to_pydatetime()
type(year_df["timeOpen"])

pandas.core.series.Series

In [185]:
# Check if the file exists
if os.path.exists("year_details_update/full_data.csv"):
    # Delete the file
    os.remove("year_details_update/full_data.csv")

# Create a new CSV file
with open("year_details_update/full_data.csv", 'w') as file:
    year_df.to_csv("year_details_update/full_data.csv", index=0)


year_df["timeClose"]

0        2023-09-03 23:59:59.999000+00:00
1        2023-09-02 23:59:59.999000+00:00
2        2023-09-01 23:59:59.999000+00:00
3        2023-08-31 23:59:59.999000+00:00
4        2023-08-30 23:59:59.999000+00:00
                       ...
140717   2022-09-09 23:59:59.999000+00:00
140718   2022-09-08 23:59:59.999000+00:00
140719   2022-09-07 23:59:59.999000+00:00
140720   2022-09-06 23:59:59.999000+00:00
140721   2022-09-05 23:59:59.999000+00:00
Name: timeClose, Length: 140722, dtype: datetime64[ns, UTC]